<header>
  <nav class="grey-bg flex-center navigation">
    <a href="index.html" class="navigation__home">📚</a>

    <ul class="navigation__list">
      <li class="navigation__list__item">
        <a class="blue-link navigation__link" href="index.html">
          Book List
        </a>
      </li>

      <li class="navigation__list__item">
        <a class="blue-link navigation__link" href="todo.html">
          Review List
        </a>
      </li>
    </ul>

    <div class="navigation__switch"></div>
  </nav>
</header>
